@font-face {
    /* MV Waheed */
    font-family: 'MV_Waheed';
    font-style: normal;
    src: local(''),
        url('../public/fonts/mv/MVWaheed.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/mv/MVWaheed.woff') format('woff'); /* Old Browsers */
}

@font-face {
    /* MV Waheed */
    font-family: 'MV_Faseyha';
    font-style: normal;
    src: local(''),
        url('../public/fonts/mv/MVFaseyhaMhr.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/mv/MVFaseyhaMhr.woff') format('woff'); /* Old Browsers */
}

@font-face {
    /* MV Waheed */
    font-family: 'MV_Typer';
    font-style: normal;
    src: local(''),
        url('../public/fonts/mv/mvtyper.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/mv/mvtyper.woff') format('woff'); /* Old Browsers */
}


/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.mv_waheed {
    font-family: 'MV_Waheed', sans-serif;
    /* anti aliased */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    direction: rtl;
    font-weight: 400;
}

.mv_faseyha {
    font-family: 'MV_Faseyha', sans-serif;
    /* anti aliased */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    direction: rtl;
    font-weight: 200;
    font-style: normal;
}

.mv_typer {
    font-family: 'MV_Typer', sans-serif;
}

.roboto {
    font-family: 'Roboto', monospace;
    direction: ltr;
}

.container{
    max-width: 1200px;
    width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

.text-warm-grey-two {
  --text-opacity: 1;
  color: #7f7f7f;
  color: rgba(127, 127, 127, var(--text-opacity));
}

.text-pinkish-grey {
  --text-opacity: 1;
  color: #bfbfbf;
  color: rgba(191, 191, 191, var(--text-opacity));
}

.bg-whiteish {
  --bg-opacity: 1;
  background-color: #f2f2f2;
  background-color: rgba(242,242,242,var(--bg-opacity));
}

.bg-blackish {
  --bg-opacity: 1;
  background-color: #191919;
  background-color: rgba(25, 25, 25, var(--bg-opacity));
}

.border-pale-grey {
  --border-opacity: 1;
  border-color: #d9e2e7;
  border-color: rgba(217, 226, 231, var(--border-opacity));
}

@media (max-width: 639px) {
  .col2-list-dashed div:first-child {
    border-top: none !important;
  }
}

.section-sub-titles {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom-width: 2px;
  --border-opacity: 1;
  border-color: #f2f2f2;
  border-color: rgba(242, 242, 242, var(--border-opacity));
  cursor: pointer;
  position: relative;
}

.section-sub-titles.active {
  --border-opacity: 1;
  border-color: #918383;
  border-color: rgba(145, 131, 131, var(--border-opacity));
}

@media (max-width: 768px) {
  .section-sub-titles-main.active {
      --border-opacity: 1;
      border-color: #f2f2f2;
      border-color: rgba(242, 242, 242, var(--border-opacity));
    }
}


